<div class="row justify-content-center mt-5">
  <div class="col-md-5 text-center">
    <div class="card m-4 p-3" style="box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);">
      <h1 class="mb-4">Add User</h1>

      <form #addUserForm="ngForm" (ngSubmit)="onSubmitHandler()">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          name="name"
          [(ngModel)]="user.name"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          name="email"
          [(ngModel)]="user.email"
          required
        /><br />
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
          required
        /><br />
        <input
          type="number"
          class="form-control"
          placeholder="Contact"
          name="contact"
          [(ngModel)]="user.contact"
          required
        /><br />
        <button class="btn btn-success">submit</button>
      </form>
    </div>
  </div>
</div>
